@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom animation for subtle pulsing effect */
@keyframes subtle-pulse {
  0%, 100% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
}

.animate-pulse {
  animation: subtle-pulse 1s ease-in-out infinite;
}